<div class="task">
  <div class="task__content">
    <div class="task__checkbox-container">
      <input
        type="checkbox"
        class="task__checkbox"
        [checked]="task.completed"
        (click)="triggerCompleteTask(task)"
      />
    </div>
    <div
      class="task__info"
      [ngClass]="{ 'task__info--highlight': task.isPastDue }"
    >
      <div
        class="task__title"
        [ngClass]="{ 'task__title--completed': task.completed }"
      >
        {{ task.title }}
      </div>
      <div class="task__date" *ngIf="!task.completed">
        {{ task.due_date | date : " d,MMM,yy" }}
      </div>
    </div>
  </div>
  <div class="task__actions">
    <button
      mat-button
      color="primary"
      class="task__button task__button--delete"
      (click)="triggerDeleteTask(task.id)"
    >
      Delete <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
