<form class="search">
  <mat-form-field class="search__search-bar">
    <input class="search__input" matInput placeholder="Search" />
  </mat-form-field>
  <mat-form-field class="search__filter">
    <mat-label>Filter</mat-label>
    <mat-select>
      <mat-option value="option1">Done</mat-option>
      <mat-option value="option2">Urgent</mat-option>
      <mat-option value="option3">All</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="accent" (click)="addTask($event)">
    Add Task<mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
  </button>
</form>
